<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body>
 

 <h1> Nurse Calls search UI </h1> 


 <ul>
    <li><a href="http://localhost:3000/top">Recent 20 calls </a></li>
    <li><a href="http://localhost:3000/urgency3">Priority:select[1, 2, 3, 4] ] </a></li>
    </ul>


</body>
</html>